@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor--fundo: #454545;
    --cor--texto:  #ffe6c7;
    --cor--destaque: #ff6000;
    --cor--hover: #ffa559;

    --krona: 'Krona One', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor--fundo);
    color: var(--cor--texto)
}

span {
    color: var(--cor--destaque);
    border: 1px solid var(--cor--destaque);
    padding: 2px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}


.cabecalho__menu {
    display: flex;
    gap: 24px;
}

.cabecalho__menu__link {
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor--destaque);
    border: 2px solid var(--cor--destaque);
    border-radius: 20px;
    padding: 3px;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    background-color: var(--cor--hover);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5rem;
    font-family: var(--krona);
    text-shadow: 3px 3px 6px #000;
}

.titulo-destaque {
    color: var(--cor--destaque)
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--montserrat);
}

.apresentacao__conteudo__texto__imagem {
    filter: invert(0.9);
    width: 4%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.apresentacao__links__subtitulo {
    font-family: var(--krona);
    font-weight: 400;
    font-size: 1.2rem;
}


.apresentacao__links__link {
    /* background-color: var(--cor--destaque);  */
    display: flex;
    justify-content:center;
    align-items: center ;
    gap: 8px;
    border: 2px solid var(--cor--destaque);
    width: 200px;
    text-align:center ;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 8px 0px;
    text-decoration: none;
    color: var(--cor--destaque);
    font-family: var(--montserrat);
}

.apresentacao__links__link:hover {
    background-color: var(--cor--hover);
    color: var(--cor--destaque);
    /* filter: blur(2px); */
}

.apresentacao__links__imagem {
    filter:invert(0.75);
    /* filter:hue-rotate(90deg); */
    width: 15%;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 23px;
    color: #000000;
    background-color: var(--cor--destaque);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (min-width: 551px) and (max-width: 1200px) {
    .cabecalho{
        padding: 2% 10%;
        display: flex;
        justify-content: center;
    }
        
    .apresentacao{
        flex-direction: column-reverse;
        padding: 1% 5%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .cabecalho{
        padding: 2% 10%;
        display: flex;
        justify-content: center;
    }

    .cabecalho__menu {
        display: flex;
        gap: 10px;
    }

    .cabecalho__menu__link {
        font-size: 1rem;
        font-weight: 600;
        border: 2px solid var(--cor--destaque);
        border-radius: 20px;
        padding: 3px;
        width: 110px;
    }
            
    .apresentacao{
        flex-direction: column-reverse;
        padding: 1% 5%;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.5rem;
    }

    .apresentacao__conteudo__texto {
        font-size: 1rem;
    }
}

